/* html */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
}

html {
  height: 100%;
  width: fit-content;
  align-items: center;
}

body {
  transition: 0.3s;
  height: 100%;
  width: fit-content;

}

li {
  list-style: none;
}

/* header */

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

a {
  text-decoration: none;
  color: #63b79f;
  font-size: 1rem;
}

a:hover {
  color: #f58f82;
}

header .logo img {
  width: 150px;
  height: 150px;
  position: relative;
  left: 20px
}



/* flex nos agrupamentos - barra de pesquisa --> */
div.navbar > li > form, .box-busca,header>nav{
  display: flex;
}

header>nav{
  margin-right: 5%;/*afasta do canto*/
}

/* div que agrupa os elementos, está repetitivo - corrigir se houver tempo */
.navbar {
  width: 85%;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}
/* barra pesquisa */
body > header > nav > div.navbar > li > form > input{
  border-radius: 10%;
  border-color:#63b79f;
  height: 2rem;
  font-size: 1rem;
  text-align: left;


}
/*icone pesquisa */
header > nav > div.navbar > li > form > button{
  font-size: 20px;
  padding-left: 5px; padding-right: 5px;
  margin-left: -40px;

  cursor: pointer;
  color: #63b79f;
  border:none;
  background:none;
  right: 0;
}
/*darkmode */
#darkmode{
  margin-right: 5%;
}
#darkmode > label > i {
  /*botão*/
  font-size: 20px;
  color: #63b79f;
  padding: 5px;
  cursor: pointer; /* Adicione um cursor de ponteiro para indicar que é clicável */
  transition: 0.3s;
}
#darkmode > label > i:hover{
  font-size: 25px;
  transition: 0.3s;
}

#chk {
  /* Ocultar o checkbox */
  display: none;
}

.dark {
  /*efeito escurecedor */
  background-color: #263238;
  color: #63b79f;
}


#borda {
  margin-left: 5%;
  width: 90%;
  height: 5px;
  background-color: #f58f82;
}


#logo > img{
  width: 20vh;
  height: 20vh;
}

.links {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  text-align: center;
}

.links a {
  margin-left: 30px;
}

.links img {
  height: 5vh;
  width: 5vh;
}

li {
  list-style: none;
}

footer{
  color: #63b79f;
  display: block;
  text-align: center;
  padding: 20px;
  border-top: 1px solid #dadada;
}

ul#contato {
  text-align: end;
}

#nav1 {
  width: 33%;
}

#nav2 {
  width: 33%;
  padding-left: 10%;
  align-items: end;
}

#nav2 .fa {
  color: #63b79f;
  margin-right: 30px;
  position: relative;
  top: 50%;
  transform: translateY(-110%);
  font-size: 3.6rem;
}
#nav2 .fa:hover {
  scale: 1.1;
  color: #f58f82;
}

.footer_nav {
  width: 100%;
  display: flex;
}
.assinatura {
  width: 33%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

ul#produtos{
text-align: left;}

.social-media {
  align-items: center;
}

footer .social-media a img {
  width: 30px;
  margin: 0 10px;
}

.carousel {
  display: flex;
}


/* Desktop grande */
@media (min-width: 1024px) {
  .hero {
      background-image: url(/banner-grande/BannerBag.png);
      background-repeat: no-repeat;
      overflow-x: hidden;
      margin-top: 10px;
      margin-left: 0%;
  }
}

/* Tablet e Desktop médio */
@media (min-width: 768px) and (max-width: 1500px) {
  .hero {
      background-image: url(/banner-medio/BannerBag.png);
      background-repeat: no-repeat;
      overflow-x: hidden;
      margin-top: 10px;
      margin-left: 0%;
  }
}

/* Smartphones */
@media (max-width: 767px) {
  .hero {
      background-image: url(/banner-pequeno/BannerBag.png);
  }
}