/* html */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}
  
html {
    height: 100%;
    width: fit-content;
    align-items: center;
    max-width: 1800px;
}
  
body {
    transition: 0.3s;
    height: 100%;
    width: fit-content;

}
  
li {
    list-style: none;
}

/* header */

header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

a {
    text-decoration: none;
    color: #63b79f;
    font-size: 1rem;
}
  
a:hover {
    color: #f58f82;
}

header .logo img {
    width: 150px;
    height: 150px;
    position: relative;
    left: 20px
}

#borda {
    margin-left: 5%;
    width: 90%;
    height: 5px;
    background-color: #f58f82;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
/* navbar*/

.navbar {
    width: 85%;
    height: 25vh;
    max-width: 1200px;
    font-size: 1rem;
    font-variant: small-caps;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
i {
      font-size: 1rem;
      cursor: pointer;
      color: #63b79f;
}
  
#nav2 .fa:hover {
    scale: 1.1;
    color: #f58f82;
}
  
.logo a img {
    width: 20vh;
    height: 20vh;
}
  
.navbar  {
    display: flex;
    gap: 2rem;
}
  
.links {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    text-align: center;
}
  
.links a {
    margin-left: 30px;
}
  
.links img {
    height: 5vh;
    width: 5vh;
}

/* main */
/* caroulsel e fundo */
.container {
    width: 100%;
    height: fit-content; /* Alinhar com a altura do .hero */
    position: relative;
    padding: block 100px;;
}
.hero {
    position: relative; /* Permitir posicionamento absoluto dos filhos */
    height: 640px;
    width: 100%;
    background-image: url(/banner-grande/BannerBag.png);
    background-repeat: no-repeat;
    background-size: contain; /* Melhor cobertura da imagem */
    background-position: center;
    padding: 0;
    z-index: 2;
    margin-top: 10px;
    margin-left: 0%;
}

.solid-color {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* cores do baanner da bag kelly*/
    background: rgb(184,174,161);
    background: linear-gradient(180deg, rgba(184,174,161,1) 17%, rgba(221,219,220,1) 74%);
    /* cor filtro #678995 e cor #307F7A mandala */
    z-index: 1;
}
/*fim carousel*/
/* produtos expostos */
.products {
    display: flex;
    height: 350px;
    gap: 20px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    overflow: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

/* Esconde a barra de rolagem para navegadores Webkit (Chrome, Safari) */
.products::-webkit-scrollbar {
    display: none; /* Oculta a barra de rolagem */
}

/* Esconde a barra de rolagem para IE, Edge e Firefox */
.products {
    -ms-overflow-style: none;  /* IE e Edge */
    scrollbar-width: none;     /* Firefox */
}

.product {
    border-radius: 10px;
    height: fit-content;
    width: fit-content;
    margin-left: auto; margin-right: auto;
    align-items: center;
}
.product>p {
    margin-top: 5px;
    text-align: center;
}
.product img {
    width: 340px;
    height: 206px;
    border-radius: 10px;
    margin-bottom: 0;
    max-height: 100%;
}
.Descricao {
    text-align: center;
    position: relative;
    bottom: -10px;
}
/* Media query para telas de 0 a 767 pixels de largura */
@media (max-width: 767px) {
    .products {
        flex-wrap: nowrap;
        overflow-x: auto;
    }
    .product {
        flex: 0 0 33.33%; /* Exibe dois produtos por vez */
        background-color: rgba(255, 255, 255, 0);
        align-self: center;        
    }
}


/* Container do carrossel */
/*ATENÇÃO! Este modelo não inclui o formato de caixa com scroll
Para voltar o formato de box, remova os comentários a esquerda */

#avaliacoes{
    margin-top: 100px;
    width: 100%;
}
.carousel-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

/* Container interno do carrossel */

.carousel-inner {
    display: flex;
    /*scroll-snap-type: x mandatory; /* Habilita o scroll-snap */
    /*overflow-x: scroll;
    scroll-behavior: smooth; /* Suaviza a rolagem */
    -webkit-overflow-scrolling: touch; /* Suporte para iOS */
}
#avaliacoes{
    display: flex;
    /*max-width: 372px;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

/* Estilo individual das avaliações */

.review {
    display: block;
    /*scroll-snap-align: start; /* Alinha o início de cada item com o início do container */
    /*flex: 0 0 100%;  Cada item ocupa 100% da largura do container 
    box-sizing: border-box;*/
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.imgnomedata{
    display: flex;
}

.user{
    margin-left: 10px;
    margin-top: 5px;
}

.user>p{
    margin: 0;
    text-align: left;
}

/* Estilo para a imagem do usuário */

.review img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

/* Estilo para as estrelas */

.review .stars {
    color: #ffd700; /* Cor das estrelas preenchidas */
    font-size: 50px;
}

/*fim avaliações */

footer{
    color: #63b79f;
    display: block;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #dadada;
}
  
ul#contato {
    text-align: end;
}
  
#nav1 {
    width: 33%;
}
  
#nav2 {
    width: 33%;
    padding-left: 10%;
    align-items: end;
}
  
#nav2 .fa {
    color: #63b79f;
    margin-right: 30px;
    position: relative;
    top: 50%;
    transform: translateY(-110%);
    font-size: 3.6rem;
}
  
.footer_nav {
    width: 100%;
    display: flex;
}
.assinatura {
    width: 33%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
  
ul#produtos{
  text-align: left;}

.social-media {
    align-items: center;
}

footer .social-media a img {
    width: 30px;
    margin: 0 10px;
}

.carousel {
    display: flex;
}

.dark {
    background-color: #263238;
    color: #63b79f;
}
/* Desktop grande */
@media (min-width: 1024px) {
    .hero {
        background-image: url(/banner-grande/BannerBag.png);
        background-repeat: no-repeat;
        overflow-x: hidden;
        margin-top: 10px;
        margin-left: 0%;
    }
}

/* Tablet e Desktop médio */
@media (min-width: 768px) and (max-width: 1500px) {
    .hero {
        background-image: url(/banner-medio/BannerBag.png);
        background-repeat: no-repeat;
        overflow-x: hidden;
        margin-top: 10px;
        margin-left: 0%;
    }
}

/* Smartphones */
@media (max-width: 767px) {
    .hero {
        background-image: url(/banner-pequeno/BannerBag.png);
    }
}