body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    width: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 50px;
    border-bottom: 1px solid #ddd;
}

.logo img {
    height: 80px;
}

nav a {
    color: #333;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    max-width: 1800px;
    margin: 20px auto;
    padding: 20px;
}


/* Titulo Quem somos(h1) */
h1 {
    text-align: center;
    color: #63B79F;
    margin: 0;
    margin-bottom: 5%;
}

/* Inicio e Contato */
.subtitle{
    text-align: center;
    margin-right: 50px;
}
.subtitle a{
    text-decoration: none;
    color: #333;
    text-shadow:  1px 1px 2px #63B79F;
}
/* Texto principal */
#quem-somos p {
    text-align: center;
    text-indent: 2em;
    font-size: 18px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
/* apresentação da equipe Ft lado esquerdo */
.team {
    display: inline-block;
    width: 100%;
    margin: auto;
}

.member {
    text-align: center;
    background-color: #63B79F;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 80%;
    height: 100px;
    margin-bottom: 60px;
    margin-left: 10%;
    display: flex;
    align-items: center;
}

.member img {
    border-radius: 50%;
    width: 192px;
    height: 192px;
    object-fit: cover;
    align-self: flex-start;
    margin-top: -46px;
    margin-left: -10%;
}

.member h2 {
    color: white;
    background-color: black;
    border-radius: 15%;
    padding: 5px 10px 5px 10px;
    margin-left: -35px;
}

.member p {
    text-align: center;
    margin:auto;
}
/*fim Ft lado esquerdo */
/* Ft lado direito */
#ftraul{
    order: 3;
    margin-right:-10%;
}
#Raul{
    order: 2;
    margin-right: 7%;
    z-index: 1;
    margin-left: 5px;
}

.image-section {
    text-align: center;
}

.image-section img {
    max-width: 100%;
    border-radius: 10px;
}

footer {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #ddd;
}

.footer-nav a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
    font-size: 16px;
}

.footer-nav a:hover {
    text-decoration: underline;
}

.social-media a {
    margin: 0 10px;
}

.social-media img {
    width: 30px;
    height: 30px;
}
