

/* Titulo Quem somos(h1) */
h1 {
    text-align: center;
    color: #63B79F;
    margin: 0;
    margin-bottom: 5%;
}

/* Inicio e Contato */
.title{
    margin-top: 5vh;
}
.subtitle{
    text-align: center;
    margin-right: 50px;
}
.subtitle a{
    text-decoration: none;
    color: #333;
    text-shadow:  1px 1px 2px #63B79F;
}
/* Texto principal */
#quem-somos{
    margin-bottom: 10vh;
}
#quem-somos p {
    text-align: center;
    text-indent: 2em;
    line-height: 1.51em;
    font-size: 1.5em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
/* apresentação da equipe Ft lado esquerdo */
.team {
    display: inline-block;
    width: 100%;
    margin: auto;
}
.team > div:nth-child(2){
    background-color: #f58f82;
}

.member {
    text-align: center;
    background-color: #63B79F;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 80%;
    height: 100px;
    margin-bottom: 60px;
    margin-left: 10%;
    display: flex;
    align-items: center;
}

.member img {
    border-radius: 50%;
    width: 192px;
    height: 192px;
    object-fit: cover;
    align-self: flex-start;
    margin-top: -46px;
    margin-left: -10%;
}

.member h2 {
    color: white;
    background-color: black;
    border-radius: 15%;
    padding: 5px 10px 5px 10px;
    margin-left: -35px;
}

.member p {
    text-align: center;
    margin:auto;
}
/*fim Ft lado esquerdo */
/* Ft lado direito */
#ftraul{
    order: 3;
    margin-right:-10%;
}
#Raul{
    order: 2;
    margin-right: 7%;
    z-index: 1;
    margin-left: 5px;
}

.image-section {
    text-align: center;
}

.image-section img {
    max-width: 100%;
    border-radius: 10px;
}


.carousel {
    display: flex;
}
/* NAV2 = Link instagram,wpp e Logo */
.social-media{
    height: 100%;
    align-items: center;
    justify-content: center;
    
}
#nav2{
    align-items:center;
    height: 100%;
    display: flex;

}
#nav2 .fa {
    color: #63b79f;
    font-size: 3.6rem;
    padding: 15px;
}
#nav2 .fa:hover {
    font-size: 3.8rem;
    color: #f58f82;
}

 /* flex nos agrupamentos - barra de pesquisa --> */
 div.navbar > li > form, .box-busca,header>nav{
    display: flex;
  }
  
  header>nav{
    margin-right: 5%;/*afasta do canto*/
  }
  
  /* div que agrupa os elementos, está repetitivo - corrigir se houver tempo */
  .navbar {
    width: 85%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
  }
  /* barra pesquisa */
  body > header > nav > div.navbar > li  > input{
    border-radius: 10%;
    border-color:#63b79f;
    height: 2rem;
    font-size: 1rem;
    text-align: left;
  
  
  }
  /*icone pesquisa */
  header > nav > div.navbar > li  > button{
    font-size: 20px;
    padding-left: 5px; padding-right: 5px;
    margin-left: -40px;
  
    cursor: pointer;
    color: #63b79f;
    border:none;
    background:none;
    right: 0;
  }
